.gifsContainer {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

.gif {
    flex-shrink: 0;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    position: relative;
}