.users {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usersTitle {
    color: var(--color-primary);
    font-size: 32px;
    text-align: center;
}

.usersSubtitle {
    color: var(--color-secondary);
    font-size: 24px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media (min-width: 768px) {
        width: 80%;
    }
    @media (min-width: 1366px) {
        width: 50%;
    }
}

.form {
    display: flex;
    flex-direction: row;
}

.alreadyUserLink {
    margin-top: 20px;
    text-align: center;
}